In [4]:
a = 5 
b = 3
if a > b : 
    print("WIDIH betul lu ")
    print("selesai")
elif a < b :
    print("Lah salahh lu pea ")
print("udah beres cuyy")

WIDIH betul lu
selesai
udah beres cuyy

# next

In [5]:
#tes coment ( ini ga bakal di execute )
# testprint 
print("tes 1 tes 2")

tes 1 tes 2

In [7]:
#multiline comment 
# kalo mau buat multiline coment lu make """"""(petik 3 kali)
"""
nih liat bagian ini gabakal diprint
kenapa karna ini udh gw kasih awal petik 3 
liat dah
"""
print("test multi line coment")

test multi line coment

In [5]:
Fruits = [apple , banana, manggo]
a,b,c = Fruits

print(a,b,c)

NameError: name 'apple' is not defined

In [2]:
x = y = z = "orange" 
print (x)
print(y)
print(z)

orange
orange
orange

In [10]:
import math 

t =3.8 
print (math.floor t )

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3599491973.py, line 4)

In [13]:
c = ["apple",'apple', 'banana']
print(len(c))
print(c.count('apple'))

3
2

In [1]:
umur_abim = int(input("Masukan Umur nya si abim dalam (tahun) :  ")) #convert 'number' to 'integer number'
umur_ciput = int(input("Masukan Umurnya ciput dalam (tahun) : "))

print(umur_abim == umur_ciput)

ValueError: invalid literal for int() with base 10: ''

In [21]:
#Duplicate key is not allowed 
dict = {
    "brand" : 'ford',
    "model" : "Mustang",
    "year" : [1965,2020,2024],
    "buyer" : {'name': 'Riki', 'Job': 'Instruktor'}

}
print (dict["buyer"]["Job"])

Instruktor

In [24]:
dict['buyer'] : {{'name': 'lis', 'Job': 'Instruktor'}}
dict

TypeError: unhashable type: 'dict'

In [7]:
#List are ordered 

a = ['foo', 'bar', 'baz' ,'qux ' ]
b = ['baz', 'qux','bar','foo']

print (a[2])
print (b[-4])


print(a)
print(a + ['apadah', 'tau nih'])
print (a * 2)

baz
baz
['foo', 'bar', 'baz', 'qux ']
['foo', 'bar', 'baz', 'qux ', 'apadah', 'tau nih']
['foo', 'bar', 'baz', 'qux ', 'foo', 'bar', 'baz', 'qux ']

In [8]:
coba = ['apel','Apel', 'zebra',"Zebra"]

print(min(coba))
print(max(coba))

Apel
zebra

In [9]:
my_friend = [ 'icha','lia ','bayu','bambang','yanto'
             'dwi','septian','dika','manta','shandi']

print(my_friend[1:7])

['lia ', 'bayu', 'bambang', 'dwi', 'septian', 'dika']